<div class="alert alert-danger">This form currently does not work.  I may add this functionality or may not.<br><a class="alert-link" href="https://rubyonrailshelp.wordpress.com/2014/01/02/setting-up-mailer-using-devise-for-forgot-password/">https://rubyonrailshelp.wordpress.com/2014/01/02/setting-up-mailer-using-devise-for-forgot-password/</a></div>
<div class="panel panel-primary">
  <div class="panel-heading">Forgot your password?</div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-inline' }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
	<%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
	<%= f.submit "Send me reset password instructions", class: 'btn btn-submit' %>
      </div>
    <% end %>
  </div>
</div>
