<% if current_user %>
<% else %>
  <div class="jumbotron">
    <h1>Welcome to All of the Things!</h1>
    <p>Please <%= link_to 'sign up', new_user_registration_path %> or <%= link_to 'sign in', new_user_session_path %> to continue.</p>
  </div>
<% end %>
