<h1><%= @maintenance.item %></h1>
<%= render partial: "table", locals: {maintenance: @maintenance} %>
<%= render partial: "steps", locals: {maintenance: @maintenance} %>
<% if current_power.updatable_maintenance?(@maintenance) %>
<%= link_to 'Edit', edit_maintenance_path(@maintenance) %>
<% end %>
