<p>
  <strong>Text:</strong>
  <%= @step.text %>
</p>

<p>
  <strong>Imagemd5:</strong>
  <%= @step.imageMD5 %>
</p>

<% if current_power.updatable_step?(@step) %>
<%= link_to 'Edit', edit_step_path(@step) %> |
<% end %>
<%= link_to 'Back', steps_path %>
