<div class="panel panel-primary">
   <div class="panel-heading">Add a Vehicle</div>
   <div class="panel-body">
      <%= form_for(:vehicle, url: '/vehicles', html: { :class => "form-inline" }) do |f| %>
	 <div class="form-group">
	    <%= f.select :canonical_vehicle_id, options_for_select(CanonicalVehicle.order(:year, :make, :model).map{|s|[s.year.to_s + ' ' + s.make + ' ' + s.model, s.id]}) %>
	    <%= f.text_field(:vin, { :class => 'form-control', :placeholder => 'vin' }) %>
	    <%= f.submit("Add Vehicle", { :class => 'btn btn-submit' }) %>
	 </div>
      <% end %>
   </div>
</div>
